.cards { @include clearfix; }
.card {
  margin: 1%;
  width: 31.33%;
  float: left;
  perspective: 1000px;

  .flip-container { padding-bottom: 128.83%;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
  }

  .front, .back {
    width: 100%;
    backface-visibility: hidden;

    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  	position: absolute;
  	top: 0;
  	left: 0;

    img { width: 100%; max-width: none; display: block; }
  }

  .back {
  	transform: rotateY(0deg);
    z-index: 2;
  }

  .front {
  	transform: rotateY(180deg);
  }

  /* Variation */
  &.-flip {
    .flip-container { transform: rotateY(180deg); }
  }

  &.-match {
    .front { animation: flashValid 1s forwards; animation-delay: 600ms;  }
  }
  &.-error {
    .front { animation: flashError 1s forwards; animation-delay: 600ms;  }
  }

}

@keyframes flashValid {
    0%   { box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); opacity: 1; }
    50%  { box-shadow: 0px 0px 8px 3px rgba($color-detail,1); opacity: 1; }
    100% { box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); opacity: .35; /* opacity: 0; box-shadow: 0; */ }
}
@keyframes flashError {
    0%   { box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); }
    50%  { box-shadow: 0px 0px 8px 3px rgba($color-primary,1);}
    100% { box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); }
}

@media (min-width: $screen-sm-min) {
  .card {
    margin: 1%;
    width: 18%;
  }
}

@media (min-width: $screen-lg-min) {
  .card {
    margin: .5%;
    width: 11.5%;
  }
}
